:root{
    --tahiti: #3ab7bf;
    --slate-light: #f1f5f9; 
    --slate-mid: #cbd5e1;
    --slate-dark: #64748b;
}
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    user-select: none;
    box-sizing: border-box;
}
img, svg{
    -webkit-user-drag: none;
}
body{
    height:100vh;
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-area: 'nav' 'content-container';
}

/* Navbar */
.nav{
    color: white;
    font-size: 1.25rem;
    font-weight: 800;
    background-color: var(--slate-dark);
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    
}
.nav ul{
    line-height: 2.5rem;
    padding-left: 1rem;
}
.dashboard-ico{
    width: 3rem;
}
.logo{
    font-family: 'Montserrat';
    font-size: 1.75rem;
}
.icon-container{
    display:flex;
    align-items: center;
    gap:0.5rem;
    padding: 0.5rem 1rem 0 0.75rem;
    cursor: pointer;
}
.icon-container:hover, .icon-container:focus{
    position: relative;
    top: 1px;
    
}

.content-container{
    background-color: var(--slate-light);
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.header{
    background-color: white;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
}

.nav-top img, .nav-bottom img{
    width: 1.5rem;
}

.nav-container{
    display: flex;
    gap: 1rem;
    cursor: pointer;
}
.nav-container:hover{
    position: relative;
    scale: 105%;
}

.header{
    padding: 0 1rem 0 2rem;
}
/* Search container */
.searchbar-container img{
    width: 1.5rem;
    cursor: pointer;
} 
.searchbar-container svg {
    width: 2.5rem;
    cursor:pointer;
}
.searchbar{
    background-color: var(--slate-mid);
    width: 5rem;
    height:1.5rem;
    border-radius: 15px;
    flex:1;
    margin-right: 2rem;
    cursor:text;
}
.searchbar-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}
.search-icon{
    margin-right: -1.5rem;
}

.searchbar-user{
    font-weight: 800;
    cursor: pointer;
}

/* User container */
.user-container button{
    background-color: var(--slate-dark);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 800;
    color: white;
    cursor: pointer;
}
.user-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 6fr 1fr 1fr 1fr;
    grid-template-areas:
    'user-icon hi-there . . .'
    'user-icon username new upload share';
    gap: 0px 1rem;
    padding-bottom: 1rem;
}
.user-icon{
    grid-area: user-icon;

}
.new{
    grid-area: new;
    align-self: start;
}
.upload{
    grid-area: upload;
    align-self: start;
}
.share{
    grid-area: share;
    align-self: start;
}
.hi-there{
    grid-area: hi-there;
    align-self: end;
}
.username{
    align-self: start;
    grid-area: username;
    font-size: 1.5rem;
    font-weight: 800;

}

.user-container button:hover{
    position: relative;
    scale: 105%;
}

/* Main section */

.main-container{
    padding: 1.25rem;
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    'projects announcements'
    'projects trending';
    gap: 1rem;
}
.projects{
    grid-area: projects;
    
}
.main-container h3{
    margin-bottom: 1.5rem;
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    gap: 1rem;
}
.card{
    display: flex;
    flex-direction:column;
    padding: 2rem 1.5rem;
    border-radius: 15px;
    background-color: white;
    box-shadow: 4px 4px 6px -3px rgba(0,0,0,0.1);
    gap: 1rem;
    position: relative;
}

.card::after{
    content: '';
    width: 0.6rem;
    background-color: var(--slate-dark);
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.card h4{
    font-size: 1.2rem;
}
.card-text{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.card-body{
    color:#575757;
}
.card img{
    width: 26px;
}
.card-icons{
    margin-top: 1rem;
    align-self: flex-end;
}
.announce{
    grid-area: announcements;
}
.trending{
    grid-area: trending;
}
